body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;   /* makes the body element a flex container */
    min-height: 100vh;
}

header {
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}


.logo img {
    width: 300px;
}

.buttons {
    display: flex;
}

.linea hr {    
    border: 1px solid black;
}

.header-button {
    background-color: #FFFF;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-button img {
    width: 20px;
}

.header-button:hover {
    background-color: #F2F2F2;
}

.header-button-inicio {
    background-color: #FFFF;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header-button-inicio:hover{
    background-color: #F2F2F2;
}

.contenido {
    margin-top: auto;
}